.chart {
    flex: 4;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 1rem;
    color: gray;

    .title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    .chart-grid {
        stroke: rgb(228, 225, 255);
    }
}