.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 6px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }
        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 30px;
                cursor: pointer;
                position: relative;
                .icon {
                    font-size: 20px;
                }
                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                .counter {
                    right: -5px;
                    top: -5px;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #F65D4E;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 13px;
                    font-weight: bold;
                }
                .theme-toggle {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 3rem;
                    width: 6rem;
                    background: #303443;
                    border-radius: 10rem;
                    padding: 1px 0;
                    border: 0.5px solid white;

                    span {
                        outline: none;
                        font-size: 1.6rem;
                        width: 35%;
                        height: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 100ms;
                        border-radius: 10rem;
                        color: #ffc021;

                        &.active {
                            background: white;
                            outline: none;
                            color: white;
                            border-radius: 10rem;
                        }
                    }
                }
            }
        }
    }
}